/* main structure */
h1 {
	background: url(/web/company_def/img/bgdotted.gif) repeat-x bottom;
	color: #003399;
	font: bold 13pt Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0; 
	width: 100%;
}
	h1 a {
		color: #000;
		float:left;
		font: bold 10pt Arial, Helvitica, sans-serif;
		text-decoration: none;
	}
	h1 a:hover { text-decoration: underline; }
	
html body {
	font: small Verdana,Arial,Sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

fieldset {
	background: #F8F7F1;
	border: 0 none;
	border-left: 1px solid #EEECDD;
	border-top: 1px solid #EEECDD;
	font-size: 90%;
	margin: 10px 0;
	padding: 5px;
	text-align: left;
}

label, .label {
	clear: both;
	float: left;
	font-weight: bold;
	margin-right: 8px;
	padding-top: 4px;
	text-align: right;
	white-space: nowrap;
	width: 25%;
}

legend {
	border-left: 5px solid #EEECDD;
	color: #857E6B;
	font-weight: bold;
	padding: 0 3px;
}

tr.row0 td { background: transparent; }
tr.row1 td { background: #9999FF; }
	
/* classes */
.alert {
	padding: 4px 5px 4px 23px;
	margin: 0 5px 5px;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #c00;
}

.atn { background: #ffc; }

.body {
	background-color: #FFF;
	clear: both;
	float: none;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 100%;
}
	.body .bodyMain {
		margin: 0;
		padding: 5px;
	}
	.body .bodyNav {
		border-right: 1px solid #000;
		width: 115px;
	}
		.body .bodyNav li {
			display: block;
			height: 30px;
			margin: 0;
			padding: 0;
		}
		.body .bodyNav li a {
			color: #7E7E7E;
			display: block;
			font-family: Tahoma;
			font-size: 14px;
			font-weight: bold;
			margin: 0;
			padding-top: 7px;
			text-align: center;
			text-decoration: none;
		}
		.body .bodyNav li.li1 a:hover { text-decoration: underline; }
		.body .bodyNav li.li2 a:hover { text-decoration: underline; }
		.body .bodyNav li.li3 a:hover { text-decoration: underline; }
		.body .bodyNav li.li4 a:hover { text-decoration: underline; }
		.body .bodyNav li.li5 a:hover { text-decoration: underline; }
		.body .bodyNav ul {
			margin: 0;
			padding: 0;
		}

.bottom {
	background-color: #FFF;
	clear: both;
	float: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}
	.bottom .bottomText {
		padding: 10px 0px 5px 0px;
	}
	.bottom .bottomTop {
		background: url(/web/company_def/img/grey_px.jpg) repeat-x bottom left;
		width: 100%;
	}

.boxHeader {
	margin-top: 10px;
}
	.boxHeader tr.head th {
		background: #CBC2AD;
		color:#857E6B;
	}
	
.boxScroll {
	height: 500px;
	overflow: auto;
}
	.boxScroll tr.row0 td { background: transparent; }
	.boxScroll tr.row1 td { background: #9999FF; }

.displayInfo {
}
	.displayInfo .left {
		font-weight: bold;
		padding-right: 8px;
		padding-top: 4px;
		white-space: nowrap;
	}
	.displayInfo .right {
		margin-right: 8px;
		padding-top: 4px;
	}
	
.look {
	border: 1px solid #fc0;
	border-width: 1px 0;
	font-weight: bold;
	padding: 8px 3px;	
	margin: 0 5px 5px;
	font-size: 125%;
}

.order_by {
	background: #CBC2AD;
	color: #fff;
}
	.order_by a {
		color: #fff;
		text-decoration: none;
	}

.red { color: #c00; }
	
.top {
	background-color: #FFF;
	clear: both;
	float: none;
	margin: 0 auto;
	padding-top: 20px;
	width: 100%;
}
	.top .topBottom {
		background: url(/web/company_def/img/grey_px.jpg) repeat-x bottom left;
		width: 100%;
	}
	.top .topCompanyLogo {
		padding-left: 10px;
	}
	.top .topNav {
		background: url(/web/company_def/img/menu_px.jpg) repeat-x bottom left;
		float: left;
		width: 100%;
	}
		.top .topNav li {
			border-right: 2px solid #FFF;
			display: block;
			float: left;
			height: 40px;
			margin: 0;
			padding: 0;
			width: 115px;
		}
		.top .topNav li a {
			color: #7E7E7E;
			display: block;
			font-family: Tahoma;
			font-size: 14px;
			font-weight: bold;
			height: 30px;
			margin: 0;
			padding: 10px 15px 0px 15px;
			text-align: center;
			text-decoration: none;
		}
		.top .topNav li.li1 a:hover { text-decoration: underline; }
		.top .topNav li.li2 a:hover { text-decoration: underline; }
		.top .topNav ul {
			margin: 0;
			padding: 0;
		}	