/* main structure */
td {
	vertical-align: top;
	font-family:Tahoma;
	font-size:12px;
	color:#7E7E7E;
	line-height:15px;
}

a {
	text-decoration: underline;
	color:#5C88AD;
	font-family:tahoma;
}

body { 	margin:0px;padding:0px;	}

fieldset {
	background: #F8F7F1;
	border: 0 none;
	border-left: 1px solid #EEECDD;
	border-top: 1px solid #EEECDD;
	font-size: 90%;
	margin: 10px 0;
	padding: 5px;
	text-align: left;
}

label, .label {
	clear: both;
	float: left;
	font-weight: bold;
	margin-right: 8px;
	padding-top: 4px;
	text-align: right;
	white-space: nowrap;
	width: 25%;
}

legend {
	border-left: 5px solid #EEECDD;
	color: #857E6B;
	font-weight: bold;
	padding: 0 3px;
}

/* classes */
.alert {
	padding: 4px 5px 4px 23px;
	margin: 0 5px 5px;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #c00;
}

.areaInfo {
	border: 1px solid #000000;
	position: absolute;
	width: 400px;
	z-index: 100;
}

.areaInfoHeader {
	background: #1b2a9a;
	color: #FFFFFF; 
	display: block;
	font: bold 12px Verdana, sans-serif;
	padding: 10px;
}

.areaInfoContent {
	background: #cfcfcf;
	display: block;
	padding: 5px;
	width: 400px;
}
	.areaInfoContent td {
		color: #000000;
		font-family: Verdana, sans-serif;
	}

.look {
	border: 1px solid #fc0;
	border-width: 1px 0;
	clear: both;
	padding: 8px 3px;	
	margin: 10px 5px 5px;
	font-size: 85%;
}

.priceInfo {
	border: 1px solid #000000;
	position: absolute;
	width: 215px;
	z-index: 100;
}

.priceInfoHeader {
	background: #1b2a9a;
	color: #FFFFFF; 
	display: block;
	font: bold 12px Verdana, sans-serif;
	padding: 10px;
	text-align: center;
}

.priceInfoContent {
	background: #cfcfcf;
	display: block;
	padding: 5px;
	width: 215px;
}
	.priceInfoContent td {
		color: #000000;
		font-family: Verdana, sans-serif;
	}
	
.atn { background: #ffc; }
.copy{
font-family:Tahoma;
font-size:11px;
color:#7E7E7E;
text-decoration:none;
line-height:px;
font-weight:;
}

.copy14{
text-align: justify;
font-family:Arial;
font-size:14px;
color:#575757;
text-decoration:none;
line-height:px;
font-weight:;
}

.top_txt_menu {
color:#7E7E7E;
font-family:Tahoma;
font-size:14px; 
text-decoration:none}

.gray8 {color:#7E7E7E; font:8px text-decoration:none}
.gray {color:#7E7E7E; font:12px text-decoration:none}
.gray14 {color:#7E7E7E; font:14px text-decoration:none}
.gray15 {color:#7E7E7E; font:15px text-decoration:none}
.gray1 {color:#858585; text-decoration:none}
.blue {color:#5C88AD}
.blue11 {color:#5C88AD; font:11px}
.blue14 {color:#5C88AD; font:14px}
.blue18 {color:#5C88AD; font:20px}
.blue_n {color:#5C88AD; text-decoration:none}
.blue1 {color:#547180}
.white {color:#FFFFFF}
.nover {color:#FFFFFF}
.big13 {font-size:13px}
.big2 {font-size:14px}
.big14 {font-size:14px}
.big15 {font-size:15px}
.big15u {font-size:15px; text-decoration: underline;}
.big {font-size:16px}
.big16 {font-size:16px}
.big17 {font-size:17px}
.big18 {font-size:18px}

.PageHead{
font-family:Tahoma;
font-size:16px;
color:#5C88AD;
text-decoration:none;
line-height:px;
font-weight:;
}

.SubBullets {
color:#7E7E7E;
font-family:Tahoma;
font-size:12px; 
text-decoration:none
line-height:10px;
font-weight:;
}

.form { width:134pxpx;
		height:20px;
		font-family:tahoma;
		font-size:11px;
		border-style:;
		border-width:;
		border-color:;
		background-color:;
		color:#000000;
		margin-left:12px;
		margin-right:0px}
		
		
.textarea {width:137px;
		height:95px;
		font-family:tahoma;
		font-size:10px;
		border-style:;
		border-width:;
		border-color:;
		background-color:#ffffff;
		color:#898989;
		overflow:auto;
		margin-left:0px;
		margin-right:0px
}
		
.red {
	color: #c00;
	font-weight: bold;
}

.rollover {scrollbar-face-color:#8B8B8B;
		scrollbar-track-color:#E2E2E2;
		scrollbar-arrow-color:#ffffff;
		scrollbar-3Dlight-color:#ffffff;
		scrollbar-base-color:#ffffff;
		scrollbar-shadow-color:#ffffff;
		scrollbar-darkshadow-color:#ffffff;
		scrollbar-highlight-color:#ffffff;}


a:hover{text-decoration:underline;}

.seal_AK_bg { background-image : url(/web/company_def/img/seal_AK);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_AL_bg { background-image : url(/web/company_def/img/seal_AL);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_AR_bg { background-image : url(/web/company_def/img/seal_AR);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_AZ_bg { background-image : url(/web/company_def/img/seal_AZ);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_CA_bg { background-image : url(/web/company_def/img/seal_CA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_CO_bg { background-image : url(/web/company_def/img/seal_CO);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_CT_bg { background-image : url(/web/company_def/img/seal_CT);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_DC_bg { background-image : url(/web/company_def/img/seal_DC);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_DE_bg { background-image : url(/web/company_def/img/seal_DE);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_FL_bg { background-image : url(/web/company_def/img/seal_FL);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_GA_bg { background-image : url(/web/company_def/img/seal_GA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_HI_bg { background-image : url(/web/company_def/img/seal_HI);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_IA_bg { background-image : url(/web/company_def/img/seal_IA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_ID_bg { background-image : url(/web/company_def/img/seal_ID);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_IL_bg { background-image : url(/web/company_def/img/seal_IL);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_IN_bg { background-image : url(/web/company_def/img/seal_IN);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_KS_bg { background-image : url(/web/company_def/img/seal_KS);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_KY_bg { background-image : url(/web/company_def/img/seal_KY);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_LA_bg { background-image : url(/web/company_def/img/seal_LA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MA_bg { background-image : url(/web/company_def/img/seal_MA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MD_bg { background-image : url(/web/company_def/img/seal_MD);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_ME_bg { background-image : url(/web/company_def/img/seal_ME);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MI_bg { background-image : url(/web/company_def/img/seal_MI);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MN_bg { background-image : url(/web/company_def/img/seal_MN);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MO_bg { background-image : url(/web/company_def/img/seal_MO);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MS_bg { background-image : url(/web/company_def/img/seal_MS);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_MT_bg { background-image : url(/web/company_def/img/seal_MT);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NC_bg { background-image : url(/web/company_def/img/seal_NC);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_ND_bg { background-image : url(/web/company_def/img/seal_ND);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NE_bg { background-image : url(/web/company_def/img/seal_NE);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NH_bg { background-image : url(/web/company_def/img/seal_NH);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NJ_bg { background-image : url(/web/company_def/img/seal_NJ);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NM_bg { background-image : url(/web/company_def/img/seal_NM);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NV_bg { background-image : url(/web/company_def/img/seal_NV);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_NY_bg { background-image : url(/web/company_def/img/seal_NY);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_OH_bg { background-image : url(/web/company_def/img/seal_OH);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_OK_bg { background-image : url(/web/company_def/img/seal_OK);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_OR_bg { background-image : url(/web/company_def/img/seal_OR);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_PA_bg { background-image : url(/web/company_def/img/seal_PA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_RI_bg { background-image : url(/web/company_def/img/seal_RI);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_SC_bg { background-image : url(/web/company_def/img/seal_SC);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_SD_bg { background-image : url(/web/company_def/img/seal_SD);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_TN_bg { background-image : url(/web/company_def/img/seal_TN);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_TX_bg { background-image : url(/web/company_def/img/seal_TX);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_UT_bg { background-image : url(/web/company_def/img/seal_UT);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_VA_bg { background-image : url(/web/company_def/img/seal_VA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_VT_bg { background-image : url(/web/company_def/img/seal_VT);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_WA_bg { background-image : url(/web/company_def/img/seal_WA);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_WI_bg { background-image : url(/web/company_def/img/seal_WI);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_WV_bg { background-image : url(/web/company_def/img/seal_WV);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}
.seal_WY_bg { background-image : url(/web/company_def/img/seal_WY);
					background-repeat : no-repeat;
					background-position : 100% 0%;
				}

#under{text-decoration:underline;}